//Importing google fonts.
//Could be done more efficiently by using font-face and save some performance.
//I'm trying to get it up quickly, right now.
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

html {
    font-family: "Open Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

em {
    font-style: 400i;
}

p {
    font-weight: 400;
}

.logo {
    color: red;
    font-weight: 700;
    line-height: 1em;
    font-size: 2em;
}

a {
    color: red;
    font-weight: 700;
}

.nav ul li {
    list-style: none;
    float: left;
}

.nav-items {
    margin-top: 30px;
}

.nav-items li {
    margin: 0 10px 0 10px;
}

.nav .dropdown ul {
    display: block;
}

.nav .dropdown {
    display: none;
    padding: 0;
}

.nav .dropdown-item {
    color: white;
}

.dropdown-item {
    padding: 10px 0;
}

.nav .dropdown {
    position: absolute;
    width: 100%;
    background-color: red;
};

.nav .dropdown ul {
    padding: 0;
}

.dropdown ul li {
    display: block;
}

.nav .dropdown.dropdown-open {
    display: block;
}

li.dropdown-item {
    margin: 0;
}